body {
    margin: 0;
    padding: 0;
    background-color: #522566;
    color: #f8f8f8;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4)); 
}

html {
    scroll-behavior: smooth;
}

h1, h2,h3 {
    font-size: 30px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow:
    0 1px 0 #999,
    0 2px 0 #888,
    0 3px 0 #777,
    0 4px 0 #666,
    0 5px 5px rgba(0,0,0,0.4);
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));    
}
/* Header */

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #7A3A8E;
    padding: 20px;
    margin: auto;
}

.link-navbar {
    text-decoration: none;
    color: #EADFF0;  
    padding: 12px 24px;
    border-radius: 30px;
  
    background: rgba(0, 0, 0, 0.55);
    border: 2px solid #7A3A8E;
  
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
    display: inline-block;
}
  
.link-navbar:hover {
    background-color: #522566;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px #522566;
}

/* Presentacion */

.info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 20px;
}

.info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
}

#acerca-de-mi p {
    margin: 0 50px;
    font-size: 20px;
}

/* Habilidades */

#habilidades h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.skins-habilidades {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desarrollo ul{
    list-style: none;
    font-size: 20px;
}

.desarrollo h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testing ul {
    list-style: none;
    font-size: 20px;
}

.testing h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Proyectos */

#proyectos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#proyectos ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

/* Contacto */

#contacto h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#contactos address ul li {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: rgb(73, 13, 73);
    color: wheat;
    padding: 10px;
    text-align: center;
}
