/* HABILIDADES */
#habilidades h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#habilidades .skins-habilidades {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#habilidades .skins-habilidades .desarrollo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#habilidades .skins-habilidades .desarrollo ul {
  list-style: none;
  font-size: 20px;
}
#habilidades .skins-habilidades .testing h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#habilidades .skins-habilidades .testing ul {
  list-style: none;
  font-size: 20px;
}

#proyectos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#proyectos ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}

#contacto h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#contacto ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
#contacto ul li a {
  text-decoration: none;
  color: #EADFF0;
}
#contacto ul li a:hover {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 0%, #000000 30%, #111018 45%, #2a2143 65%, #4b3b8f 85%, #5a49c7 100%);
  background-attachment: fixed;
  color: #EADFF0;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  filter: drop-shadow(0 4px 10px #7A3A8E);
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin: auto;
}
nav ul li .btn-nav {
  padding: 12px 24px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.55);
  border: 2px solid #7A3A8E;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  display: inline-block;
}
nav ul li .btn-nav:hover {
  background-color: #522566;
  color: #EADFF0;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px #522566;
}
nav ul li .btn-nav .link-navbar {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #EADFF0;
}

/* PRESENTACION */
#acerca-de-mi .info {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 20px;
}
#acerca-de-mi .info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #EADFF0;
}
#acerca-de-mi .info h1 {
  font-size: 50px;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
#acerca-de-mi p {
  margin: 0 50px;
  font-size: 20px;
}

/* FOOTER */
footer {
  color: wheat;
  padding: 10px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
