$principal-color: #7A3A8E;
$secundario-color: #522566;
$terciario-color: #EADFF0;
$drop-shadow-principal: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
$text-shadow-repeat: 
0 1px 0 #999,
0 2px 0 #888,
0 3px 0 #777,
0 4px 0 #666,
0 5px 5px rgba(0,0,0,0.4);