#contacto {
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        text-shadow:
        0 1px 0 #999,
        0 2px 0 #888,
        0 3px 0 #777,
        0 4px 0 #666,
        0 5px 5px rgba(0,0,0,0.4);
        filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4)); 
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 20px;
        
        li {
            a{
                text-decoration: none;
                color: #f8f8f8;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}