body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
      to bottom,
      #000000 0%,
      #000000 30%,
      #111018 45%,
      #2a2143 65%,
      #4b3b8f 85%,
      #5a49c7 100%
    );
    background-attachment: fixed;
    color: #f8f8f8;
    font-family: 'Poppins', sans-serif;      
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    filter: drop-shadow(0 4px 10px #7A3A8E); 
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3 {
    font-size: 50px;
    text-shadow:
    0 1px 0 #999,
    0 2px 0 #888,
    0 3px 0 #777,
    0 4px 0 #666,
    0 5px 5px rgba(0,0,0,0.4);
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));    
}

/* HEADER */

nav {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 20px;
        margin: auto;

        li {
            .btn-nav {
                padding: 12px 24px;
                border-radius: 30px;
              
                background: rgba(0, 0, 0, 0.55);
                border: 2px solid #7A3A8E;
              
                backdrop-filter: blur(4px);
                transition: all 0.3s ease;
                display: inline-block;

                &:hover {
                    background-color: #522566;
                    color: #fff;
                    transform: translateY(-3px);
                    box-shadow: 0 10px 25px #522566;
                }

                .link-navbar {
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    color: #EADFF0;
                }
            }
        } 
    }
}

/* PRESENTACION */

#acerca-de-mi {
    .info {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        margin: 20px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid #fff;
        }

        h1 {
            font-size: 50px;
            text-shadow:
            0 1px 0 #999,
            0 2px 0 #888,
            0 3px 0 #777,
            0 4px 0 #666,
            0 5px 5px rgba(0,0,0,0.4);
            filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
        }
    } 
    
    p {
        margin: 0 50px;
        font-size: 20px;
    }
}

/* FOOTER */

footer {
    color: wheat;
    padding: 10px;
    text-align: center;
}